<th:block th:include="home/main/header.html"></th:block>
	<th:block th:include="home/main/nav.html"></th:block>
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">Login</li>
                    </ol>
                </div><!-- End .container -->
            </nav>
			<div align="center">
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="heading">
	                            <h2 class="title">로그인</h2>
	                            <p>계정이 없다면 <a href="/user/register">여기</a>를 눌러 회원가입하세요.</p>
	                        </div><!-- End .heading -->
	
	                        <form action="/user/login" method="post">
	                            <input type="text" name="id" class="form-control" placeholder="아이디" required>
	                            <input type="password" name="password" class="form-control" placeholder="비밀번호" required>
	                            <br>
	                            <div align="center">
	                                <button type="submit" class="btn btn-primary">로그인</button>
	                            </div><!-- End .form-footer -->
	                        </form>
	                    </div><!-- End .col-md-6 -->
	                </div><!-- End .row -->
	            </div><!-- End .container -->
            </div>

            <div class="mb-5"></div><!-- margin -->
        </main><!-- End .main -->

 <th:block th:include="home/main/footer.html"></th:block>